argo-cd:

  configs:
    cm:
      helm.enabled: true
      kustomize.buildOptions: --enable-helm

  controller:
    args:
      repoServerTimeoutSeconds: "180"
    enableStatefulSet: true
    metrics:
      enabled: true
    resources:
      limits:
        memory: 1024Mi
      requests:
        cpu: 250m
        memory: 1024Mi

  dex:
    metrics:
      enabled: true
    resources:
      limits:
        memory: 64Mi
      requests:
        cpu: 10m
        memory: 64Mi

  redis-ha:
    enabled: true
    resources:
      limits:
        memory: 128Mi
      requests:
        cpu: 100m
        memory: 128Mi
    metrics:
      enabled: true

  repoServer:
    autoscaling:
      enabled: true
      minReplicas: 2
      maxReplicas: 10
      targetCPUUtilizationPercentage: 250
      targetMemoryUtilizationPercentage: 200
    env:
    - name: ARGOCD_EXEC_TIMEOUT
      value: 3m
    metrics:
      enabled: true
    resources:
      limits:
        memory: 1024Mi
      requests:
        cpu: 10m
        memory: 1024Mi

  server:
    autoscaling:
      enabled: true
      minReplicas: 2
      targetCPUUtilizationPercentage: 125
      targetMemoryUtilizationPercentage: 125
    extraArgs:
    - --insecure
    metrics:
      enabled: true
    resources:
      limits:
        memory: 128Mi
      requests:
        cpu: 50m
        memory: 128Mi